@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<article class="error-body">

    <div class="search-content">
        <div class="search-overlay">
            <header class="article-header text-right">
                <h1>404!</h1>
                <h2>Looks like you got lost</h2>
            </header>
        </div>
    </div>

</article>