@model AddPetFormModel

@{
    ViewBag.Title = "Enter Pet's Details";
}

<form method="post">
    <div class="row mb-4" style="margin-top: 5rem">
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter name here...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" asp-for="Breed">Breed</label>
                <input asp-for="Breed" class="form-control" placeholder="Enter breed here...">
                <span asp-validation-for="Breed" class="small text-danger"></span>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" asp-for="Age">Age</label>
                <input asp-for="Age" class="form-control" placeholder="Enter age here...">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" asp-for="Color">Color</label>
                <input asp-for="Color" class="form-control" placeholder="Enter color here...">
                <span asp-validation-for="Color" class="small text-danger"></span>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" asp-for="MicrochipId">MicrochipId</label>
                <input asp-for="MicrochipId" class="form-control" placeholder="Enter id number here...">
                <span asp-validation-for="MicrochipId" class="small text-danger"></span>
            </div>
        </div>
    </div>

   
    <div class="row mb-4">
        <!-- Gender -->
    <div class="btn-group col-auto" style="margin-right: 30px">
        <label>
            Gender
            <div class="form-check form-check" style="margin-top: 10px">
                <input asp-for="Gender" class="form-check-input" type="radio" name="Gender" value="Male">
                <label class="form-check-label" asp-for="Gender">Male</label>
            </div>
            <div class="form-check form-check" style="margin-top: 10px">
                <input asp-for="Gender" class="form-check-input" type="radio" name="Gender" value="Female">
                <label class="form-check-label" asp-for="Gender">Female</label>
            </div>
        </label>
    </div>
    <!-- PetType -->
    <div class="btn-group col-auto" style="margin-right: 30px">
        <label>
            Pet Type
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="PetType" class="form-check-input" type="radio" name="PetType" value="Cat">
                <label class="form-check-label" asp-for="PetType">Cat</label>
            </div>
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="PetType" class="form-check-input" type="radio" name="PetType" value="Dog">
                <label class="form-check-label" asp-for="PetType">Dog</label>
            </div>
        </label>
    </div>
    <!-- IsLost -->
    <div class="btn-group col-auto" style="margin-right: 30px">
        <label>
            Is Lost
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="IsLost" class="form-check-input" type="radio" name="IsLost" value="True">
                <label class="form-check-label" asp-for="IsLost">Yes</label>
            </div>
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="IsLost" class="form-check-input" type="radio" name="IsLost" value="False">
                <label class="form-check-label" asp-for="IsLost">No</label>
            </div>
        </label>
    </div>
    <!-- IsFound -->
    <div class="btn-group col-auto" style="margin-right: 30px">
        <label>
            Is Found
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="IsFound" class="form-check-input" type="radio" name="IsFound" value="True">
                <label class="form-check-label" asp-for="IsFound">Yes</label>
            </div>
            <div class="form-check form" style="margin-top: 10px">
                <input asp-for="IsFound" class="form-check-input" type="radio" name="IsFound" value="False">
                <label class="form-check-label" asp-for="IsFound">No</label>
            </div>
        </label>
    </div>
    </div>



    <!-- Text input -->
    <div class="form-outline mb-4">
        <input type="text" id="form6Example3" class="form-control" />
        <label class="form-label" for="form6Example3">Company name</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
        <input type="text" id="form6Example4" class="form-control" />
        <label class="form-label" for="form6Example4">Address</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form6Example5" class="form-control" />
        <label class="form-label" for="form6Example5">Email</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
        <input type="number" id="form6Example6" class="form-control" />
        <label class="form-label" for="form6Example6">Phone</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
        <label class="form-label" for="form6Example7">Additional information</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
        <label class="form-check-label" for="form6Example8"> Create an account? </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
</form>