@model BecomeVolunteerFormModel

@{
    ViewBag.Title = "Become a Volunteer";
}

<section id="form" style="margin-top: 5rem;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-uppercase">
                    Fill this form to
                    <br>
                    <span style="color: #fdc57b;">@ViewBag.Title</span>
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" asp-controller="Volunteers" asp-action="Become">
                                <div class="form-group col-md-6 mb-2 mt-4 offset-md-3">
                                    <h5 class="text-left">Your name</h5>
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 mb-2 offset-md-3">
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="small text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 mb-2 offset-md-3">
                                    <h5 class="text-left">Leave your contacts</h5>
                                    <input asp-for="Email" class="form-control" placeholder="Your e-mail">
                                    <span asp-validation-for="Email" class="small text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 mb-2 offset-md-3">
                                    <textarea asp-for="AllAboutYou" class="form-control" rows="5" placeholder="Tell us about yourself"></textarea>
                                    <span asp-validation-for="AllAboutYou" class="small text-danger"></span>
                                </div>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}