@{
    ViewBag.Title = "How To Adopt";
}

<section class="page-title" style="margin-top: 5rem;">
    <div class="row align-items-center justify-content-center height100px">
        <div class="col-auto">
            <div class="page-title-content">
                <div class="title-border">
                    <h1 class="text text-uppercase font-weight-bold">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center height100px">
        <div class="col-auto">
            <div id="Inner">
                <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
                <h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>

                <hr>

                <div id="Content">
                    <div class="boxed">
                        <div id="lipsum">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac risus a leo varius euismod sit amet eget nunc. In tempus erat est, maximus varius magna viverra quis. Aliquam eu massa lorem. Nulla at ornare turpis. Etiam pharetra mauris eget cursus aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate justo non nisl faucibus, in iaculis mi efficitur. Vivamus quis magna quis nulla dictum aliquam. Phasellus ultricies aliquet porttitor. Sed in congue dui, a euismod dolor. Phasellus rhoncus ligula ut elementum blandit. Pellentesque semper tempor tortor at malesuada.
                            </p>
                            <p>
                                Aliquam sit amet nulla eget massa condimentum accumsan. Morbi maximus magna eget nunc volutpat bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan tellus mi, vel viverra ipsum tempus ut. Nam volutpat, ipsum finibus auctor scelerisque, massa augue fermentum odio, id ullamcorper sapien lorem non nisi. Maecenas rutrum accumsan lectus sed egestas. Ut commodo sagittis tellus, blandit posuere ex tincidunt sit amet. Ut congue dolor ac vulputate pulvinar. Vivamus id tellus ut ipsum laoreet luctus sed vel magna. Pellentesque lobortis, tellus elementum tristique suscipit, enim orci bibendum ipsum, a sollicitudin sem nunc sed odio.
                            </p>
                            <p>
                                In vestibulum nunc arcu, at vestibulum elit bibendum in. Pellentesque ac urna nulla. Integer pulvinar convallis sem in vulputate. Ut venenatis leo eu ligula lacinia ultricies. Proin felis quam, maximus eget semper at, facilisis id nibh. Vivamus tristique ac augue sed porttitor. Duis orci risus, vestibulum eget sagittis id, aliquet at arcu. Donec et lacinia nunc. Duis ac odio posuere, cursus nibh eu, feugiat erat. Aenean vel volutpat elit, a dictum tortor. Curabitur quis consequat mauris, sit amet vestibulum mi.
                            </p>
                            <p>
                                Aliquam ut tincidunt orci. Vivamus mollis quis massa id porta. Nam ut aliquam felis, at maximus orci. Mauris at velit ut magna dignissim facilisis nec et urna. Suspendisse id vehicula lectus, vitae vehicula neque. Suspendisse sed orci id odio hendrerit condimentum et sed dui. Morbi semper diam a eleifend viverra. Suspendisse potenti. In a blandit risus. Nunc scelerisque rhoncus lectus eu laoreet. Fusce volutpat ipsum nisi, sit amet ultricies lectus fermentum eu. Curabitur pellentesque pretium elit sit amet porttitor. Fusce fermentum auctor dui, sed porttitor est aliquet vel. Maecenas accumsan sem vitae augue pretium, a sodales massa finibus.
                            </p>
                            <p>
                                Pellentesque tempus ante volutpat massa porta sagittis. Maecenas ex dolor, accumsan id urna vel, luctus dictum leo. Sed rutrum lorem in massa porttitor, vel dignissim lacus consectetur. Quisque rhoncus convallis nulla id tempor. Pellentesque lobortis dolor vel ligula dapibus, a eleifend eros posuere. Sed interdum mi sit amet enim porttitor, in ultrices libero elementum. Integer consectetur, enim sed porttitor aliquam, eros libero commodo arcu, vel cursus tortor ligula ut lectus. Aenean in justo efficitur, posuere elit a, placerat ante. Praesent aliquet a purus nec vestibulum. Aenean vitae odio viverra, rhoncus elit at, imperdiet ligula.
                            </p>
                        </div>
                        <div id="generated">Generated 5 paragraphs, 458 words, 3069 bytes of <a href="https://www.lipsum.com/" title="Lorem Ipsum">Lorem Ipsum</a></div>
                    </div>
                </div>

                <hr>

                <div class="boxed"><a style="text-decoration:none" href="mailto:help@lipsum.com">help@lipsum.com</a><br><a style="text-decoration:none" target="_blank" href="/privacy.pdf">Privacy Policy</a></div>

            </div>
        </div>
    </div>
</section>