@{
    ViewBag.Title = "Work";
}

::before
<section id="work">
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="section-title">
            <h1 class="heading bold text-center">HOW IT WORKS</h1>
            <hr>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
          <img src="https://pawslikeme.com/assets/home/images/quiz.png" class="text-center" width="32" height="32" alt="take the quiz">
            <h3 class="text-center">Pet Match Quiz</h3>
            <hr>
            <p class="text-center">High Paw has developed a 3-minute smart survey that matches people and pets based on compatibility. The quiz assesses your personality, lifestyle and home as it relates to pet parenting. Adoptable pets are given a similar personality profile. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
          <img src="https://pawslikeme.com/assets/home/images/pet-score.png" width="32" height="32" alt="match profile">
          <h3 class="text-center">Your Ideal Pet</h3>
            <hr>
            <p class="text-center">Using an algorithm similar to dating sites, results are tailored to match you with your ideal pet. The results include a description of your 'ideal pet' to help you understand what to look for in your next best friend.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
          <img src="https://pawslikeme.com/assets/home/images/algorithm.png" width="32" height="32" alt="compatible pets">
          <h3 class="text-center">Matching pets List</h3>
            <hr>
            <p class="text-center">You will see a list of nearby canine or feline candidates who are in need of a forever home. Your pet list is automatically ranked based on overall match score. Further refine your pet list using filters for preferences, such as age, size, and breed.</p>
        </div>
        
      </div>
    </div>
  </section>