@{
    ViewBag.Title = "About us";
}

<section class="page-title" style="margin-top: 5rem;">
    <div class="row align-items-center justify-content-center height100px">
        <div class="col-auto">
            <div class="page-title-content">
                <div class="title-border">
                    <h1 class="text text-uppercase font-weight-bold">We're Pet Lovers Trying to Make a Difference</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="Content" class="mt-4">
        <div class="boxed">
            <div id="lipsum">
                <p>
                    Welcome to HighPaw.com. We're all about getting homeless pets into homes.
                </p>
                <p>
                    We use the power of the Internet to connect adopters with shelter pets and help pets go from alone to adopted. We're working to help the good people at shelters and rescue groups find homes for their pets. But we don't stop there. We also provide useful and informative information on the human/companion animal relationship to help keep pets healthy and permanently in their loving homes. Our blog has articles and has useful pet training as well, all produced by our expert staff of professionals in animal training and behavior, as well as human psychology.
                </p>
                <p>
                    In vestibulum nunc arcu, at vestibulum elit bibendum in. Pellentesque ac urna nulla. Integer pulvinar convallis sem in vulputate. Ut venenatis leo eu ligula lacinia ultricies. Proin felis quam, maximus eget semper at, facilisis id nibh. Vivamus tristique ac augue sed porttitor. Duis orci risus, vestibulum eget sagittis id, aliquet at arcu. Donec et lacinia nunc. Duis ac odio posuere, cursus nibh eu, feugiat erat. Aenean vel volutpat elit, a dictum tortor. Curabitur quis consequat mauris, sit amet vestibulum mi.
                </p>
                <p>
                    Aliquam ut tincidunt orci. Vivamus mollis quis massa id porta. Nam ut aliquam felis, at maximus orci. Mauris at velit ut magna dignissim facilisis nec et urna. Suspendisse id vehicula lectus, vitae vehicula neque. Suspendisse sed orci id odio hendrerit condimentum et sed dui. Morbi semper diam a eleifend viverra. Suspendisse potenti. In a blandit risus. Nunc scelerisque rhoncus lectus eu laoreet. Fusce volutpat ipsum nisi, sit amet ultricies lectus fermentum eu. Curabitur pellentesque pretium elit sit amet porttitor. Fusce fermentum auctor dui, sed porttitor est aliquet vel. Maecenas accumsan sem vitae augue pretium, a sodales massa finibus.
                </p>
                <p>
                    Pellentesque tempus ante volutpat massa porta sagittis. Maecenas ex dolor, accumsan id urna vel, luctus dictum leo. Sed rutrum lorem in massa porttitor, vel dignissim lacus consectetur. Quisque rhoncus convallis nulla id tempor. Pellentesque lobortis dolor vel ligula dapibus, a eleifend eros posuere. Sed interdum mi sit amet enim porttitor, in ultrices libero elementum. Integer consectetur, enim sed porttitor aliquam, eros libero commodo arcu, vel cursus tortor ligula ut lectus. Aenean in justo efficitur, posuere elit a, placerat ante. Praesent aliquet a purus nec vestibulum. Aenean vitae odio viverra, rhoncus elit at, imperdiet ligula.
                </p>
            </div>
        </div>
    </div>

</section>