@model PetQueryServiceModel

@{
    ViewBag.Title = "Quiz";
}

<link rel="stylesheet" href="~/css/quiz.css" asp-append-version="true" />

<h1 style="margin-top: 5rem;">We will help you to find the perfect pet!</h1>
<div class="quiz-container">
    <div id="quiz"></div>
</div>
<button id="previous" style="margin-top: 4rem;">Previous Question</button>
<button id="next" style="margin-top: 4rem;">Next Question</button>
<button id="submit" style="margin-top: 4rem;">Submit Quiz</button>

<script src="~/js/quiz.js" asp-append-version="true"></script>