<div class="col-12 text-center pb-5">
    <!--<a asp-controller="" asp-action="" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Users</a>-->
    <a asp-controller="Pets" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Pets</a>
    <a asp-controller="Shelters" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Shelters</a>
    <a asp-controller="Articles" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Articles</a>
    <a asp-controller="Events" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Events</a>
</div>