<div class="col-12 text-center pb-5">
    <!--<a asp-controller="" asp-action="" class="btn btn-secondary btn-sm" style="color: #fdc57b;">Users</a>-->
    <a asp-controller="Pets" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;"><i class="fa-solid fa-paw"></i> Pets</a>
    <a asp-controller="Shelters" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;"><i class="fa-solid fa-house-flag"></i> Shelters</a>
    <a asp-controller="Articles" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;"><i class="fa-solid fa-file-pen"></i> Articles</a>
    <a asp-controller="Events" asp-action="All" class="btn btn-secondary btn-sm" style="color: #fdc57b;"><i class="fa-solid fa-calendar-days"></i> Events</a>
</div>