@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<article id="post-not-found" class="hentry cf">
              
              <div class="search-content" style="max-width: 980px;
    margin: 0 auto;
    background-image: url('cat-and-dog-404page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;">
                
                <div class="search-overlay">
                
                  <header class="article-header text-right">

                    <h1>404!</h1>
                    <h2>Lost? Let Us Guide You Back.</h2>

                  </header>

                  <section class="search text-center">

                      <p></p><form role="search" method="get" id="searchform" class="searchform" action="https://petcolove.org/">
    <div>
        <label for="s" class="screen-reader-text"></label>
        <input type="search" id="s" name="s" value="" placeholder="What are you looking for?">

        <button type="submit" id="searchsubmit">Search</button>
    </div>
</form><p></p>

                  </section>
                  
                </div>
                
              </div>
              
              <section>
                <section class="our-goals">
	<div class="row">
		<div class="our-goals__container small-12 medium-4 large-4 columns">
			<div class="our-goal">
    <h1></h1><h1 class="page-title " itemprop="headline"></h1>
	<a class="button button-inverse" href=""></a>	</div>		</div>
		<div class="our-goals__container small-12 medium-4 large-4 columns">
			<div class="our-goal">
    <h1></h1><h1 class="page-title " itemprop="headline"></h1>
	<a class="button button-inverse" href=""></a>	</div>		</div>
		<div class="our-goals__container small-12 medium-4 large-4 columns">
			<div class="our-goal">
    <h1></h1><h1 class="page-title " itemprop="headline"></h1>
	<a class="button button-inverse" href=""></a>	</div>		</div>
	</div>
</section>              </section>

<!-- 							<footer class="article-footer">

									<p></p>

							</footer> -->

						</article>

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
*@