@model EventServiceModel

@{
    ViewBag.Title = "Edit Event";
}

<section class="page-title" style="margin-top: 5rem;">
    <div class="row align-items-center justify-content-center height100px">
        <div class="col-auto">
            <div class="page-title-content">
                <div class="title-border">
                    <h1 class="text text-uppercase font-weight-bold">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<form asp-controller="Events" asp-action="Edit" class="row g-3">
    <div class="col-12">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" type="text" class="form-control" placeholder="Info about the event..." rows="10"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Location" class="form-label"></label>
        <input asp-for="Location" type="text" class="form-control">
        <span asp-validation-for="Location" class="small text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Post</button>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}